html{
	font-family: Gujarati Sangam MN;
	font-size: 1vw;
}





* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  height: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
      color: #f2f2f2;
    font-size: 15px;
    /* padding: 0.3rem; */
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 3s;
}

-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.fade:not(.show){
	opacity: 1;
}

.dotc{
	text-align: center;
}



/*productpage*/


.pdinfo{
	display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
    margin: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

.pdpic{
width: 35%;
margin: 1rem;
	text-align: left;
	font-size: 1.2rem;
	padding-top: 2rem;
}
.pdtext{
 width: 60%;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
}

.ptitle{
	text-align: left;

}
.ptitle h1{
	text-align: left;
	font-family: "Quicksand"
	
}
.ptitle h3{
	margin-top: 1rem;
	margin-bottom: 1rem;
	
}

.ptitle p{
	font-size: 1rem;
}

.pdes{
	width: 76%;
}
.pdes p{
	text-align: left;
	margin-bottom: 2rem;

}

.cart {
text-align: left;

}

#cartext{
	width: 3rem;
    margin-bottom: 1rem;
    height: 2rem;
    text-align: center;
        margin-right: 1rem;
        margin: 0rem;

}

#bt{

margin-left: 1rem;
}


.mightlike{
	background: white;
    text-align: left;
    border: solid;
    border-color: #E0E0E0;
    border-width: 0.1rem;
    margin-bottom: 3rem;
    height: 7rem;
}

.mightlike p{
	padding: 2rem;
	font-size: 2rem;
	color: #BD4444;
	font-family: "Quicksand";
	margin-left: 3rem;
}


.modal-title {
	font-family: "Quicksand";
	    margin-left: 7rem;
	    font-size: 2rem;


}

.modal-body{
	margin: 1rem;
	padding: 0rem;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


body{
	 margin: 0rem;
}

#body {
height: 100%;
width: 100%;
}

 html {
  overflow-x:hidden;  
 }

@font-face{
	font-family: "Quicksand";
	src: url(resources/font/Quicksand_Book.woff) format('truetype');
}


a {
	color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #BD4444;
}

a:active {
  text-decoration: underline;
}

/* topbar */

.orangebar{
	background: #FFE9DD;
	height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;

}


.mapimg{
  
}

.shopby{
	background: white;
    text-align: center;
    border: solid;
    border-color: #E0E0E0;
    border-width: 0.1rem;
    margin-top: 3rem;
    margin-bottom: -4rem;
}

.center{ 
	align-content: center;
  display: block;
height: 30rem;
}

.maptext{
	color: #BD4444;
	font-size: 2rem;
	text-align: center;
}

.orangetext{
	color: #D08062;
}

.centerbar{
	position: absolute;
    top: 50%;
    left: 50%;
}

.leftbar{
display: inline-flex;
    left: 73%;
    align-items: center;
    position: absolute;
}

.menu{
	margin-right: 2rem;
}
/**/

.wrapper{
	box-sizing: border-box;
}

.logoleft {
	display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.logobardesktop{
	background-color: white;
	display: flex;
    justify-content: ;
    align-items: center;
    border-bottom: solid;color: #E0E0E0;
    border-width: 0.1rem;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    position: relative;
}

.logobartext{
	font-family: "Quicksand";
	font-size: 1.3rem;
	padding: 0.5rem;
	    display: flex;
    position: absolute;
    left: 35%;
}

.tablet{
	display: none; 
}
.mobile{
	display: none;
}
.mobile-vendors{
  display: none;
}

/* ---- mobile ---- */

@media only screen and (max-width:700px){

  .vednors{
    display: none;
  }

	.logobardesktop{
		display: none;
	}
	.tablet{
		display: none;
	}
	.mobile{
		display: block;
		height: 3rem;
		width: 100%;
		background-color: #FF8750;
		padding: 0.5rem;
	}
	.mobile ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}


/* ---- tablet nav---- */
@media only screen and (min-width: 700px) and (max-width:  1024px){

  .vednors{
    display: none;
  }

	.logobardesktop{
		display: none;
	}
	.mobile{
		display: none;
	}
	.tablet{
		display: block;
		height: 3rem;
		width: 100%;
		background-color: #FFE9DD;
		text-align: center;
		padding: 0.5rem;
	}
	.tablet li a{
		color: white;
		text-decoration: none;
		font-size: 1.5rem;
	}
}


.bannerbg{
	background-image: url("resources/image/bannerbg1.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{
	height: 6rem;
	display: block;
    position: relative;

}

.search{
  box-sizing: border-box;
  font-size: 0.9rem;
  margin-right: 2rem;
  
}

input[type=text2]{
	padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 2rem;
}



.myacc{
	display: flex;

}

.myacctext{
	font-family: "Quicksand";
	font-size: 1.2rem;
	padding: 0.5rem;
	  margin-right: 2rem;

}

#icon{
	height: 1.5rem;
	
}
.bagicon{
	padding: 0.5rem;
	
}


/* map*/
.container img {
	position: relative;
    width: 100%;
    height: auto;
}

	.container2
	{

		height: auto;
		width: 90%;
		
	}


/* slides */

.slide1 {
display: flex;
align-items:center;
margin: 2rem;
    padding: 2rem;
}

.slide1 img{
width: 49%;
	height: auto;
margin-right: 5rem;

}

.slidecontent1 {
	display: flex;
	align-items: center;
	padding: 4rem;
}
.slidecontent1 p{
	color: #BD4444;
	font-family: "Quicksand";
	font-size: 2rem;
	word-spacing: 0.5rem;
}
.slide2 {
display: flex;
align-items:center;
margin: 2rem;
    padding: 2rem;
}

.slidecontent2{
	display: flex;
	align-items: center;

}
.slidecontent2 p{
	color: #BD4444;
	font-family: "Quicksand";
	font-size: 2rem;
	word-spacing: 0.5rem;
padding: 4rem;
}

.slide2 img{
width: 49%;
	height: auto;
padding: 2rem;
margin-left: auto;
}



/* BestSellers */


.BestSellers{
	background: white;
    text-align: center;
    border: solid;
    border-color: #E0E0E0;
    border-width: 0.1rem;
    margin-bottom: 3rem;
    height: 7rem;
}

.bestsellerstext {
	padding: 2rem;
	}

.bestsellerstext p {
	
	font-size: 2rem;
	color: #BD4444;
	font-family: "Quicksand";


}

#photo{
	transition: 0.3s;
}

#photo:hover {
    opacity: 0.7;
}
.column {
  width: 23%;
  padding: 1rem;
text-align: center;

}


.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: wrap;
  margin-right: 5rem;
  margin-left: 5rem;
}

.row p{
	text-align: center;
	padding: 1.5rem;
	font-size: 1.3rem;
}


/* mailing list */

.mailcontainer{
  justify-content: center;
height: 30rem;
}
.mail {

  background-color: #f1f1f1;
  text-align: center;
  height: 7rem;
  white-space: pre-line;
  width: 100%;
  font-size: 1.5rem;
  font-family: QuickSand;
  font-weight: bold;
}

.submission{
 text-align: center;
  height: 7rem;
  white-space: pre-line;
  width: 100%;
  font-size: 1.5rem;
}


input[type=text], input[type=submit] {
      width: 30rem;
    padding: 12px;
    margin: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 3rem;
    font-size: 1rem;
}

input[type=checkbox] {
}

input[type=submit] {
  background-color: #FDEBE2;
  color: black;
  border: none;
  height: 3.5rem;

}
 
.labletext {
	padding: 1rem;
    display: inline-flex;
    align-items: center;
}

.labletext p {
	margin-left: 1rem;
	margin: 0rem;
	padding: 0.6rem;
	font-size: 0.5rem;
	font-weight: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* footer */


.footercolumn {
  width: 30%;
  padding: 3rem;
text-align: center;
}

.footer{
	background-color: #FDEBE2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footerinfo{
	padding: 1rem;
}
#ig{
	height: 2rem;
	margin-top: 1rem;
}

.footerlogo{
width: 30%;
}
.footerlogo img{
width: 60%;
}

.footertitle{
border-bottom: solid;color: black;
border-width: 0.1rem;
padding: 0.5rem;

}

.marginclass{
	margin-left: 9rem;

}

.footerrow{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: wrap;
  width: 70%
}


/* popoutpage*/



.columnx {
  width: 25%;
  padding: 1rem;
text-align: center;
}

.name {
	margin-top: 1rem;
    margin-bottom: 1rem
}

.rowx {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: wrap;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

.info{
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: wrap;
  margin-right: 4rem;
  margin-left: 4rem;
}
.infocolumn{
	width: 50%;
	padding: 2.5rem;
	text-align: left;
	font-size: 1.2rem;

}
.imgcolumn{
	width: 50%;
	padding: 1.5rem;
	text-align: center;
}
.more{
	align-items: center;
	font-size: 2rem;
	border-bottom: solid; border-color:  #ccc; border-width: 0.1rem;
	height: 3.5rem;

}
.more p{
	padding-left: 8rem;
	background: white;
}

.Products p{
	font-size: 1rem;
	padding:0rem 1rem;
}

.explore{
	align-items: center;
	border-bottom: solid; border-color:  #ccc; border-width: 0.1rem;
	height: 3.5rem;
}

.explore p{
	padding-left: 8rem;
	font-size: 2rem;
}


.popmap{
	justify-content: center;
	padding: 0rem 8rem;
}




.exploretitle {
	margin-top: 3rem;
}


.exploretitle p{
	font-size: 5rem;
	font-family: "Quicksand";
	text-align: center;
	color: #BD4444;
}

.exploretitle img{
width: 63%;
	display: flex;
  margin-left: auto;
  margin-right: auto;
}
.list{
display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: wrap;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 1rem;
}
.vendors{

	display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8rem;
}

.vendors p{
	font-size: 1.5rem;
	font-family: QuickSand;
}
.displayPopout{
	top: 0px;
    left: 0px;
    position: fixed;
    background: white;
    display: none;
        z-index: 20;
    height: 100vw;
    overflow-y: scroll
}

/* ---- mobile ---- */
@media only screen and (max-width:700px){
	html{
		font-size: 2vw;
	}
.mobile-menu{
	font-family: "Quicksand";

}


.mobile-vendors{
  display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    width: 42rem;
    margin-top: 4rem;
}

.exploretitle p {
	font-size: 2rem;
}

.vendors{ display: none;
}

	.marginclass{

margin-left: 5rem;
    margin-right: 5rem;	}

    .footerlogo{
    	display: none;
    }
    .footerrow{
    	width: 100%;
    }

    .row{
    	margin:0rem;
    }

    .column{
    	width: 40%;
    	padding: 3rem;
    }

    .footercolumn{
    	width: 30%;

    }

    .slidecontent2  {
    padding: 1rem;

}
.slidecontent2 p {
    color: #BD4444;
    font-family: "Quicksand";
    font-size: 1rem;
    word-spacing: 0.5rem;
}

.slide2 img {
    width: 49%;
    height: auto;
    padding: 1rem;
    margin-left: auto;
}

.slidecontent1  {
    padding: 1rem;

}
.slidecontent1 p {
    color: #BD4444;
    font-family: "Quicksand";
    font-size: 1rem;
    word-spacing: 0.5rem;
}

    .slide1{
    	margin-left: 2rem;
    	width: 95%
    	padding: 0rem;

    }
    .slide2{
    	margin-right: 2rem;
    	width: 100%
    	padding: 0rem;
    }

  
.slidecontent2  {
    padding: 1rem;

}

    .slidecontent2 p{
    	padding: 0rem;
    	margin-right: : 2rem;
    font-size: 1rem;
    word-spacing: 0.5rem;
    
    }

    .info{
    	width: 100%;
    }

    .exploretitle img{
    	width: 100%;
    }

    .mobile{
		display: block;
		height: 3rem;
		width: 100%;
		background-color: #FFE9DD;
		padding: 0.5rem;
	}
	.mobile ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

}

.pdinfo{
	padding: 0rem;
}

.pdtext {
    width: 53%;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
}

.pdtext p{
    font-size: 1.5rem;
    font-family: "Quicksand";
   }

   .pdtext h3{
    font-size: 1.5rem;
   }

   .pdes p {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

.pdes {
	width: 110%;
}


/* ---- tablet---- */

@media only screen and (min-width: 700px) and (max-width:  1024px){
	html{
		font-size: 1.5vw;
	}

.mobile-vendors{
  display: none;
}
	.exploretitle p {
	font-size: 3rem;
}

.vendors{
	    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    width: 26%;
    margin-top: 6rem;
}

	.slide1{
		margin-right: 3rem;

	}

	.slidecontent1 {
   padding: 0rem;
} 

.slidecontent1 p {
   font-size: 1.5rem;
}

	.slide2{
		margin-right: 3rem;

	}

	.slidecontent2 p{
		padding: 1rem;
	}

.slide2 img{
	margin-right: 0rem;
}


.slidecontent2 p {
   font-size: 1.5rem;
}
.footercolumn {
    width: 30%;
}

.row p {
    
    font-size: 1rem;
}

.tablet ul{
	display: flex;
    justify-content: space-around;
    align-items: center
}


.menu{
	font-family: "Quicksand";
}

.pdtext {
    width: 57%;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
}

.pdtext p{
    font-size: 1.5rem;
    font-family: "Quicksand";
   }

   .pdtext h3{
    font-size: 1.5rem;
   }

   .pdes p {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

.pdes {
	width: auto;
}




